<style>

#container {
	width: 100%;
	font-family: helvetica, sans-serif;
	margin: 0 auto;
	max-width: 600px;
	background: #232323;
}

#nav {
	background: #F0F8FF; 
	text-align: center;
}

.navbar {
      padding: 10px;
    } 

.navbarcontent{
      display: inline;
      padding: 0px 25px 0px 25px;
    }

#title{
	text-align: center;
}

.section {
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	border: 7px solid black;
	color: #708090;
}

#map {
	  margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
}


h1 {
	text-align: center;
	color: #778899;	
}

.title{
	text-align: center;
	color: #778899;
}



#appetizercontent{

}


</style>